.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  /* Move to the top the about section to cover the white space in the header --> 95vh (header) - 75vh (polygon) = 20 */
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  margin-top: -12rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../img/nat-4.jpg);
  background-size: cover;
  /* Animation incline section to the left */
  transform: skewY(-7deg);  
  /* Animation incline direct children to the right */
  & > * {
    transform: skewY(7deg);
  }
}