*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* This defines what 1rem is */
  /* Default browsers: 16px (100%) / Ours: 10 px --> 1 rem */
  font-size: 62.5%; 
}