/* ================================================
================ Main HEADER Button ===============
=================================================== */

.btn {
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    position: relative;
    font-size: $default-font-size;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /* Closer to the user */

    /* Expanding effect when hover*/
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2); /* Closer to the screen */
  }

  /* Original btn */
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    /* Overlap btn - necessary element to create the animation */
    &::after {
      background-color: $color-white;
    }
  }

  /* Green btn */
  &--green {
    background-color: $color-primary;
    color: $color-white;

    /* Overlap btn - necessary element to create the animation */
    &::after {
      background-color: $color-primary;
    }
  }

  /* Overlap btn - necessary element to create the animation */
  &::after {
    content: '';
    /* same properties as the "father" button */
    display: inline-block;
    height: 100%; /* Same size of the original btn */
    width: 100%; /* Same size of the original btn */
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  /* Animation - When we reload the page*/
  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

/* ================================================
====== Learn More MAIN ABOUT SECTION Button =======
=================================================== */

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    padding: 3px;
    border-bottom: 1px solid $color-primary;
    color: $color-primary;
    font-size: $default-font-size;
    text-decoration: none;
    transition: all .2s;
  }

  &:hover {
    background: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    /* Animation */
    transform: translateY(-2px); /* The btn goes up */
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    /* Animation */
    transform: translateY(0); /* The btn goes down */
  }
}
