.story {
  width: 75%;
  margin: 0 auto;

  /* We need to add 3rem to the left because the transform property in story__shape (that adds margin) */
  padding: 6rem 6rem 6rem 9rem;

  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: $color-white;
  font-size: $default-font-size;

  /* To give the non-rectagular shape to the element*/
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);

    /* Make clip property work in all browsers */
    -webkit-clip-path: circle(50% at 50% 50%);

    /* Make the element look like a circle */
    clip-path: circle(50% at 50% 50%);

    /* Translate: Give margin between the circle and the surrounding text || skewX: To fix the view of img due to the non-rectangular shape */
    transform: translateX(-3rem) skewX(12deg);

    /* Fixes the bug of vertical line next to the img when hover */
    overflow: hidden;

    /* For the text inside the image */
    position: relative;
  }

  &__img {
    height: 100%;
    /* Center the image in the circle */
    transform: translateX(-4rem) scale(1.4);

    /* To fix issues with the img due to the transition */
    backface-visibility: hidden;
    
    transition: all .5s;
  }

  &__text {
    /* skewX: To fix the view of text due to the non-rectangular shape*/
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    /* To center from the middle of the box and not from the start point of it || The 20% is to let the text down when is no hover*/
    transform: translate(-50%, 20%);

    color: $color-white;
    font-size: 1.7rem;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    transition: all .5s;
    
    /* To eliminate de shaking of the text (in the img) at the end of the transition */
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    
    /* The -50% is to put the text up when is hover */
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    /* zoom out the img when we hover */
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}